.section {
  color: var(--accent-contrast-color-1);
  background-color: var(--header-gradient-end);
  padding-bottom: 2em;
}

.columnRow,
.columnRowIos {
  padding-bottom: 3em;
  align-items: flex-start;
}

.columnRow p,
.columnRowIos p {
  text-align: center;
}

@media (max-width: 768px) {
  .columnRow {
    display: none;
  }
}

@media (min-width: 768px) {
  .columnRowIos {
    display: none;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  min-width: 12.5em;
}
