.wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper .dark {
  display: none;
}

html[data-theme="dark"] .wrapper .light {
  display: none;
}

html[data-theme="dark"] .wrapper .dark {
  display: block;
}
